<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Of Courses</title>
</head>
<body>
<h1>List Of Courses</h1>

<table border="1" cellpadding="5pt" width="100%">
    <tr>
        <th>Title</th>
        <th>Duration</th>
        <th>Fee</th>
    </tr>

    {% for c in courses %}
        <tr>
            <td>{{c.title | upper }}</td>
            <td>{{c.duration}}</td>
            <td>{{c.fee | floatformat:'2'}}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>