{% extends 'base.html' %}
{% block title%}
Search Courses
{% endblock %}

{% block content %}
 <script>
     function search() {
         $.getJSON("/students/search/" + $("#title").val(), {}, showResults);
     }

     function showResults(results) {
        console.log(results);
        $("#result").html("");
        $.each(results,
            function(idx,course) {
               $("#result").append("<li>" + course.title + "</li>");
           }
        );
     }

</script>
<h2>Search Courses</h2>
Title <input type="text" id="title"/>
<button onclick="search()">Search</button>
<p/>
<ul id="result">

</ul>

{% endblock %}